**/data/
env/
**/weights/
.vscode/
*.pth
**/__pycache__/
**/other_maybe_relevant_code/
onnx-tensorflow/
ZZZ_own_code_testing.py
dataset/
datasets/
.idea/
mlruns/
checkpoints/
archive/models/*
archive/trials/*
logs/
*.pt
pb_token.txt
